@model List<RegAuth.Models.Entities.User>;
<h1>User List</h1>
<form asp-action="ProcessUserActions" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="flex-column">
        <div>
            <button type="submit" name="action" value="block" class="btn btn-primary" style="background-color:red;">Block</button>
            <button type="submit" name="action" value="unblock" class="btn btn-primary">Unblock</button>
            <button type="submit" name="action" value="delete" class="btn btn-primary">Delete</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="form-check-input" id="select-all" />
                    <label class="form-check-label">All</label>
                </th>
                <th>Name</th>
                <th>Email</th>
                <th>Last Login</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="selectedUsers" value="@item.Id" class="form-check-input user-checkbox" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.LastLogin</td>
                    <td>@(item.IsBlocked ? "Blocked" : "Active")</td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section Scripts {
    <script>
        document.getElementById('select-all').addEventListener('change', function () {
            var checkboxes = document.querySelectorAll('.user-checkbox');
            for (var checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        });
    </script>
}

